<div class="container">
  <div class="row m-20 mb-2">
    <div class="justify-content-center">
      <h1>Products!</h1>
    </div>    
  </div>
  <div class="row m-20 mb-2">
    <%= link_to "new product", new_product_path %>
  </div>
  <div class="row m-20 mb-2">
    <%= render 'search', q:@q, url: products_path %>
  </div>
  <div class="row m-20">
    <% if @products.present? %>
      <h3>product list</h3>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'product', collection: @products %>
        </tbody>
      </table>
      <%= paginate @products %>
    <% else %>
      <p>~~None product~~</p>
    <% end %>
  </div>

  <div class="row m-20 mb-2">
    <div>Kaminari Demo</div>
  </div>
</div>